@charset "utf-8";
/* asics_women_common.css */

/*body{background-color: transparent;}*/

#wrap{position:relative; width: 100%; height: 100%; text-align: center; margin:auto; font-family: '맑은 고딕' , Malgun Gothic; color:#001e62;}
h2{font-family: '맑은 고딕' , Malgun Gothic; color:#001e62; text-transform: capitalize; }
.container{width: 100%; height: 100%;}


/* #mainBox============================================= */
#mainBox{position: relative; z-index: 400; 
  /*반응형별로 정리하여 top주기*/ 
  width:100%; height: 100%;}
/* ==========인디케이터 =============================== */
.main_small{position: absolute; z-index: 50; bottom:0; left:50%; transform: translate(-50%); width: 100%; height:10%; }
.main_indicator{margin: auto; width: 18%; height: 100%;}
.main_indicator>li{float:left; margin-right: 0.7rem; width: 20%; height: 100%;}
.main_indicator>li:last-child{margin-right: 0;}
.main_indicator>li>a{display: block; width: 100%; height: 100%; border-radius:100%; background-color: #001e62;}

.main_indicator>li>a:hover,
.main_indicator>li>a:focus{background-color: #00c3e6;}

.main_indicator>li.active>a{background-color: #00c3e6;}

/* ==========좌우버튼 =============================== */
.main_btn{position: absolute; z-index: 50; top:50%; left:0;
  width: 100%; height: 0; background-color: #a99; transform:translateY(-125%);}/*버튼을 위해서 높이값 감싸는 바스에 0만들어줘야함*/
.main_btn>.next_btn{display: block; float:right; margin-right: 1.5rem;
  width: 4%; height: 5.5rem;
  background-image: url("../../../../img/img_psd/right.png");
  background-repeat: no-repeat;
  background-position: 0 0;}
.main_btn>.prev_btn{display: block; float:left; margin-left: 1.5rem;
  width: 4%; height: 5.5rem;
  background-image: url("../../../../img/img_psd/left.png");
  background-repeat: no-repeat;
  background-position: 0 0;}
/* ==========광고 배너 =============================== */
.main_big{width: 100%; height: 80%; overflow: hidden;}
.main_img{width: 400%; height: 100%; min-height: 100%; overflow: hidden;}
.main_img>li{float: left; width: 25%; height: 100%; }
.main_img>li:last-child{margin-right: 0;}
.main_img>li>a{display: block; width: 100%; height: 100%;  background-repeat: no-repeat; background-position: 0 0; background-size:contain; }

.main_img>.main_img01>a{background-image: url("../../../../img/asics_img/women_bg1.jpg");}
.main_img>.main_img02>a{background-image: url("../../../../img/asics_img/women_bg2.jpg");}
.main_img>.main_img03>a{background-image: url("../../../../img/asics_img/women_bg3.jpg");}
.main_img>.main_img04>a{background-image: url("../../../../img/asics_img/women_bg4.jpg");}


/* #bestBox---------------------------------------- */
#bestBox{width: 100%; height:50rem; margin:100px 0; margin-top: 250px;}  
  .best_h2{margin:auto; margin-bottom: 33px; 
    width: 285px; height: 52px; font-size: 3rem; text-transform: uppercase; font-family: '맑은 고딕' , Malgun Gothic;}
  .best_big{width: 90%; height: 80%; }
  .best{float:left; margin-top: 1%; margin-left: 1%; 
    width: 30%; height: 30%;}

  .best>div:nth-child(1){margin-bottom: 0.5rem; width: 100%; height: 80%; 
    box-shadow:0.3rem 0.3rem 0.3rem rgba(0,0,0,0.5);}
  .best>div:nth-child(2){width: 100%; height: 10%;  text-transform: uppercase;}
  .best>div:nth-child(3){width: 100%; height: 10%; }
  
  .best_name>a,.best_img>a,
  .best_price>a{display: block; width: 100%; height: 100%;}

  .best_name span,
  .best_price span{display: block; color:#001e62; font-weight: bold;}


  .best_img01>a{
    background-image: url("../../../../img/asics_img/women_best1.png");
    background-repeat: no-repeat;
    background-position: 0 0; 
    background-size: contain;}
  .best_img02>a{
    background-image: url("../../../../img/asics_img/women_best2.png");
    background-repeat: no-repeat;
    background-position: 0 0; 
    background-size: contain;}
  .best_img03>a{
    background-image: url("../../../../img/asics_img/women_best3.png");
    background-repeat: no-repeat;
    background-position: 0 0; 
    background-size: contain;}
  .best_img04>a{
    background-image: url("../../../../img/asics_img/women_best4.png");
    background-repeat: no-repeat;
    background-position: 0 0; 
    background-size: contain;}
  .best_img05>a{
    background-image: url("../../../../img/asics_img/women_best5.png");
    background-repeat: no-repeat;
    background-position: 0 0; 
    background-size: contain;}
  .best_img06>a{
    background-image: url("../../../../img/asics_img/women_best6.png");
    background-repeat: no-repeat;
    background-position: 0 0; 
    background-size: contain;}
  .best_img07>a{
    background-image: url("../../../../img/asics_img/women_best7.png");
    background-repeat: no-repeat;
    background-position: 0 0; 
    background-size: contain;}
  .best_img08>a{
    background-image: url("../../../../img/asics_img/women_best8.png");
    background-repeat: no-repeat;
    background-position: 0 0; 
    background-size: contain;}
  .best_img09>a{
    background-image: url("../../../../img/asics_img/women_best9.png");
    background-repeat: no-repeat;
    background-position: 0 0; 
    background-size: contain;}


/* #sportBox---------------------------------------- */
  #sportBox{width: 100%; height:30rem; }  
    .sport_h2{width:15%; height:10%; text-transform: uppercase; font-family: '맑은 고딕' , Malgun Gothic;} 
  .sport_big{width: 100%; height:80%; }
  .sport_big>div{float:left; margin-right:1.75rem;
    width: 31%; height: 100%; 
    box-shadow:0.3rem 0.3rem 0.3rem rgba(0,0,0,0.5);}

  .sport_big>div>a{position: relative; display: block; width: 100%; height:100%;}
  .sport_big>div>a>span{position: absolute; color:rgba(255,255,255,0.7);}

  .sport_img01>a{
    background-image: url("../../../../img/img_psd/women_sport1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;}
  .sport_img02>a{
    background-image: url("../../../../img/img_psd/women_sport2.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;}
  .sport_img03>a{
    background-image: url("../../../../img/img_psd/women_sport3.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: contain;}


 /* #viewBox---------------------------------------- */
 #viewBox{width: 100%; height: 100%;}
 .view{height: 100%; width: 100%;}
 .view>a{display: block; width: 100%; height: 100%;
  background-image: url("../../../../img/img_psd/women_view.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  contain;}


/* videoBox---------------------------------------- */
#videoBox{width: 100%; height: 100%; }
  .video_h2{margin: auto; margin-bottom: 1rem; width:15%; height:5%; font-family: '맑은 고딕' , Malgun Gothic; color:#001e62; font-size: 2rem;} 
  .video_big{margin: auto; margin-bottom: 1rem; width: 100%; height: 40%;  }
  .media{position: relative; width: 100%; height: 100%;  overflow: hidden;}
  .media>video{position: absolute; top:50%; left:0; transform: translateY(-50%);
    width: 100%; height: auto; min-height: 100%; }

  .video_small{margin: auto;  width: 70%; height: 50%; }
  .video_img{width: 100%; height: 100%;}
  .art{float: left; margin: 2.5%; 
   width: 45%; height: 45%; }
  .art_01,.art_02{margin-top: 0; margin-bottom: 1rem;}

  .art>.art_img{float:left; margin-bottom:0.7rem; width: 100%; height: 78%;     box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.5);}
  .art>.art_name{float:left; width: 100%; height: 10%; :#001e62; font-family: '맑은 고딕' , Malgun Gothic;}
  .art>.art_price{float:left; width: 100%; height: 10%; :#001e62; font-family: '맑은 고딕' , Malgun Gothic;}

    .art_img>a{display: block; width: 100%; height: 100%; background-repeat: no-repeat;}
    
    .art_img01>a{background-image: url("../../../../img/img_psd/art_img01.png"); background-position: 0 50%; background-size: 123%;}
    .art_img02>a{background-image: url("../../../../img/img_psd/art_img02.png"); background-position: center; background-size: 100%;}
    .art_img03>a{background-image: url("../../../../img/img_psd/art_img03.png"); background-position: 0 50%; background-size: 120%;}
    .art_img04>a{background-image: url("../../../../img/img_psd/art_img04.png"); background-position: center; background-size: 100%;}

    .art_name>a{display: block; width: 100%; height: 100%;}
    .art_price>a{display: block; width: 100%; height: 100%;}

      .art_name>a>span{display: block; width: 100%; height: 100%; text-align: left; font-weight: bold; text-indent: 0.5rem; padding-left: 0.5rem; box-sizing: border-box; color:#001e62; line-height: 1.5rem; text-transform: uppercase;}
      .art_price>a>span{display: block; width: 100%; height: 100%; text-align: left; font-weight: bold; text-indent: 0.8rem;  color:#001e62;  line-height: 1.5rem;}






/* #womenBox---------------------------------------- */
#womenBox{margin:200px 0; width: 100%; height:100%; }
#womenBox>.container{width: 100%; height: 100%;  max-width: 70rem; padding:0;}
.women_img{float:right; width: 50%; height: 100%; }
.women_img>a{display: block; width: 100%; height: 100%; 
  background-image: url("../../../../img/img_psd/art_img.png"); background-repeat:no-repeat; background-position: 0 0; background-size: cover;}

.women_text{position: relative; float:left; width: 50%; height: 100%; background-color: #828282;}
.women_text_box{position: absolute; top:50%; left:0; transform: translateY(-50%); width: 100%; height:50%; }
.women_text_box>a{float:left; display: block; width: 100%; height: 70%; }
.women_text_box>a>span{display: block; width: 100%; height: 50%; color:#fff;}
.women_text_box>a>span:first-child{text-align:center; font-size: 1.8rem; line-height: 3.5rem; }
.women_text_box>a>span:last-child{margin: auto; padding-top:10px; box-sizing: border-box; width: 60%; text-align:justify; font-size: 1rem;   }

.women_btn{margin: auto; width: 40%; height: 30%; }
.btn_01{float:left; width:40%; height: 100%; background-color: #fff; border-radius: 0.5rem;}
.btn_02{margin-left:5%; float:right; width:55%; height: 100%; background-color: #fff; border-radius: 0.5rem;}
.women_btn span{display: block; width: 100%; height: 100%; text-align:center; font-size: 1.1rem; line-height: 3.3rem; color:#111;}






