@charset "utf-8";
/* asics_main_mobile.css */

/* mob start */
@media screen and (max-width: 480px){

/* #mainBox ----------------------------------------- */
#mainBox{height:908px;}
.main_video>video{left: 50%; width: auto; height:120%;
  min-width:100%; 
  background-size:100%; transform: translate(-50% ,-4%);}

.main_btn>div{height: 50%;}
.main_btn button,
.main_txt>p{font-size:1.3rem;}


/* #menuBox----------------------------------------- */
#menuBox{margin:200px 0; height: 654px;} 
  .menu_big{width: 100%; height: 500px; line-height: 92px;}
    .menu_go{float:left; width: 100%; height: 110px; margin-bottom:10px;}
    .menu_go:last-child{margin-bottom: 0;}

    .view_01>a{float:left; background-color: #fff; text-align:center; font-size: 2.2rem;}
    .view_02{float:right; width:50%; background-color: #fff;}

    .menu_txt02,.menu_txt04{float:right; margin-right:1rem;}

    .menu_go>.menu_img01{background-position: 0 15px; background-size: 95%;}
    .menu_go>.menu_img02{background-position: 0 10px; background-size: 95%;}
    .menu_go>.menu_img03{background-position: 0 0; background-size: contain;}
    .menu_go>.menu_img04{background-position: 0 0; background-size: contain;}
    /*.view_01:nth-of-type(2){float:right;}*/
    /*.view_02:nth-of-type(2){float:left;}*/


/* #bannerBox ----------------------------------------- */
#bannerBox{height: auto; margin-bottom: 100px;}
  #bannerBox>.ban_h2{width: 152px; height: 31px; margin:auto; margin-bottom:33px; margin-top: 33px;}
  .banner_bigBox{width: 100%; height: auto;}  
  .media2>video{width: 100%; height: auto; }
  
  .banner_img{width: 150%;}
  .banner_view>.banner_img>div{width: 23%; margin-right: 2%; float:left; height: 150px;}
  .banner_view>.banner_img>div>a{box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.5);}

  .banner01>a{background-position: center; background-size: 175%;}
  .banner02>a{background-position: center; background-size: 115%;}
  .banner03>a{background-position: center; background-size: 165%;}
  .banner04>a{background-position: center; background-size: 158%;}

  .banner_img+.indicator{width: 40%; height:30px; margin: auto; margin-top: 3rem;}
  .banner_img+.indicator li{margin-right: 0.5rem;}




/* #viewBox ----------------------------------------- */
#bannerBox+#viewBox{margin: 150px 0; height:300px;}
.view{transform: translate(-50% , -25%);}

/* #artBox ----------------------------------------- */
#artBox{margin-bottom: 200px; height:400px;}
 #artBox>h2{width: 228px; height: 49px;  margin:auto; margin-bottom: 0; font-size: 2rem;}
  h2+.art_box{width: 100%; height: 300px; margin:auto;}
  h2+.art_box>div{float:left; width: 48%; height: 50%; background-color: #dbd9d6; margin-left:1%; margin-bottom:1%;  background-position: 0 0; background-size: 100%;}

  h2+.art_box>.art05,
  h2+.art_box>.art06,
  h2+.art_box>.art07,
  h2+.art_box>.art08{display: none;}
  


}
/* mob end */

