@charset "utf-8";
/* asics_men_labtop.css */


/* pc start */
@media screen and (min-width: 769px) and (max-width: 960px){

/* #mainBox ------------------------------------------------ */
#mainBox{height:908px;}
.main_video>video{left: 50%; transform: translate(-50% , 0); width: auto; height: auto; min-height: 120%; background-size:cover;}
.main_txt>p{font-size: 3rem;}
.main_btn button{font-size: 3rem;}



/* #bannerBox---------------------------------------- */
#bannerBox{margin: 150px 0; padding-top: 100px; padding-bottom:100px; box-sizing: border-box;
  width: 100%; height:55rem; } 
  .ban_h2{margin: auto; margin-bottom: 10%; width:30%; height:10%; font-family: '맑은 고딕' , Malgun Gothic; line-height:80px; text-align: center; font-size: 2.8rem;} 
  .banner_big{margin-bottom: 10%; width: 100%; height:70%;}
  .banner_big>div{float:left; margin-right:2%;
    width: 32%; height: 100%;  box-shadow:0.5rem 0.5rem 0.5rem rgba(0,0,0,1.5);}
  .banner_big>.banner_03{margin-right: 0;}

  .banner_big>div>a>span{top:50%; left:50%; transform:translate(-50% , -50%); font-size: 2rem; font-weight: bold; color:rgba(255,255,255,0.6);}  

  .banner_01>a{background-position: 50% 0; background-size: cover;}
  .banner_02>a{background-position: 50% 0; background-size: cover;}
  .banner_03>a{background-position: 40% 0; background-size: cover;}

 
/* #bestBox---------------------------------------- */
#bestBox{width: 100%; height:50rem; margin:100px 0;   }  
  .best_h2{margin:auto; margin-bottom: 33px; 
    width: 285px; height: 52px; font-size: 2.8rem; text-transform: uppercase; font-family: '맑은 고딕' , Malgun Gothic;}
  .best_big{margin: auto; padding:0 0.5rem; box-sizing: border-box; width: 95%; height: 80%; }
  .best{float:left; margin-top: 1%; margin-left: 2%;
    width: 31%; height: 32%; }
  .best01,.best02,.best03{margin-top: 0;}

  .best>div:nth-child(1){width: 100%; height: 80%;  
    box-shadow:0.3rem 0.3rem 0.3rem rgba(0,0,0,0.5);}
  .best>div:nth-child(2){width: 100%; height: 10%;  text-transform: uppercase;}
  .best>div:nth-child(3){width: 100%; height: 10%;}
  
  .best_name span,
  .best_price span{text-align: left; text-indent: 0.5rem;}

  .best_img01>a{background-position: 50% 50%; background-size: cover;}
  .best_img02>a{background-position: 50% 50%; background-size: cover;}
  .best_img03>a{background-position: 0 0; background-size: cover;}
  .best_img04>a{background-position: 0 0; background-size: cover;}
  .best_img05>a{background-position: 50% 50%; background-size: cover;}
  .best_img06>a{background-position: 50% 50%; background-size: cover;}
  .best_img07>a{background-position: 50% 50%; background-size: cover;}
  .best_img08>a{background-position: 0 50%; background-size: cover;}
  .best_img09>a{background-position: 50% 50%; background-size: cover;}


 /* #viewBox---------------------------------------- */
 #viewBox{width: 100%; height: 100%;}
 .view{height: 100%; width: 100%;}
 .view>a{display: block; width: 100%; height: 100%;
  background-position: center;
  background-size:  contain;}


/* #sportBox---------------------------------------- */
  #sportBox{width: 100%; height:30rem; margin-bottom: 200px;  }  
    .sport_h2{margin: auto; margin-bottom: 5%;
      width:20%; height:10%; line-height: 45px; font-size: 2.8rem;} 
  .sport_big{width: 100%; height:80%; }
  .sport_big>div{float:left; margin-right:2%;
    width: 32%; height: 100%; 
    box-shadow:0.3rem 0.3rem 0.3rem rgba(0,0,0,0.5);}
  .sport_big>div:nth-of-type(3){margin-right: 0;}

  .sport_big>div>a{position: relative; display: block; width: 100%; height:100%;}
  .sport_big>div>a>span{position: absolute;}

  .sport_img01>a{
    background-position: 0 0;
    background-size: cover;}
  .sport_img02>a{
    background-position: 0 0;
    background-size: cover;}
  .sport_img03>a{
    background-position: 0 0;
    background-size: cover;}

  .sport_big>div>a>span{bottom: 0.65rem; left:0.65rem; 
    color:#fff; font-weight: bold; font-size: 1.8rem;}

}
/* pc end */