@charset "utf-8";
/* asics_w_a_mobile.css */

/* mob start */
@media screen and (min-width: 481px) and (max-width: 768px){ 
/* #mainBox=============================================  */
#mainBox{height:700px; padding-top:70px;}
.main_img{background-image: url("../../../../img/asics_img/main_bg_480.jpg"); background-size: cover;}
.main_text{display: none;}
.main_btn{top:700px; left:50%; transform: translateX(-50%);}
.main_btn>button{font-weight:normal; font-size:1.2rem;  border-radius:0.3rem; font-family: '맑은 고딕' , Malgun Gothic;}


/* #artBox ==========================================================*/
#artBox{margin:200px 0; height:400px;}
#artBox>h2{padding:0; height: 40px; font-size: 1.5rem;}
.art_p{margin: auto; margin-top:15px; margin-bottom: 10px; width:95%; height:110px;}
.art_p>p{text-indent:0.7rem; font-size:1rem; text-align:justify;}
.art_img{margin: auto; box-sizing: border-box; width: 95%; height:auto;}
.art_img>div{float:left; margin-right: 3.333333%; width:30%; height:170px; }
.art_img>.art_img03{margin-right:0;}

.art_img04,.art_img05{display: none;}


/* #bannerBox============================================= */
#bannerBox{height:450px;}
#bannerBox>h2{ height:60px; font-size:1.5rem; }
.ban_text{margin: auto;  width:80%; height: 90%;}
.ban_text>dl{float:left; padding:1% 0; box-sizing: border-box; margin:0; width: 100%; height:30%;}
.ban_text>dl>dt{margin-bottom:0; width: 100%; height: 30%; font-size: 1.2rem; line-height:20px;}
.ban_text>dl>dt{width: 100%; height: 30%; text-transform: uppercase; font-weight: bold; font-size: 1.2rem; }
.ban_text>dl>dd>i{font-size:1.3rem;}



/* coachBox============================================ */
#coachBox{height:auto;}
#coachBox>h2{width: 100%; height:40px; font-size:1.5rem;}
.coach_box{padding: 1.5rem 0;box-sizing: border-box; height:auto;}
.coach_box>div{float:none; width:100%; height:auto; margin-bottom:1.5rem; padding-bottom: 1rem;}
.coach_box>div:after{content: " ";margin: auto; display: block; width: 5rem; height: 1px; background-color: #001e62;}
.coach_box>.coach_box05{margin-bottom:0;}

.coach_box>div>.coach_img{background-size: cover; border-radius: 100%; margin-bottom: 0;float:left; width:45%; height:45vw; margin-right:1%;}
.coach_info{margin: auto; float: right; padding:0; padding-top: 10px; box-sizing: border-box; width:45%; height:100%; text-align: left;}
.info01{padding-top: 10px; box-sizing: border-box; font-size:1rem; font-weight: bold; padding-bottom:5px;}
.info02{font-size:0.95rem;}







}
/* mob end */